.material{
    display: block;
}

.material-head{
    padding: 7px 0;
}
  .material-head {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-bottom: 3%;
  }
  
  .menu {
    width: 30px;
    margin-right: 20px; 
    cursor: pointer;
  }
  
  .title {
    flex-grow: 1; 
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin: 0; 
  }
  .MaterialCat{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;  
    padding-bottom: 3%;
  }
  .home{
    width: 20px;
  }
  .Path{
    font-family: 'Montserrat';
    color:#2C3E50;
    padding-left: 10px;
  }

  .Categorie{
    border: 2px solid #000;
    margin-left: 10%;
     width:80% ;
     height: 80%;
     margin-bottom: 5%;
  }
  .catTitle{
    width:max-content;
    height:5%;
    background-color: white;
    margin-top: -4%;
    padding-left: 1%;
  }
  .catTitle h3{
     margin-left:-3% ;

  }
  .CategorieList {
    width:80%;
    margin-left:5%;
    height: max-content;
    padding-bottom: 5%;
    display: flex;
    align-items: stretch;
  }

  .CardItem {
    flex: 1;
  }

.CardItem img {
  width: 60%;
  margin-left: 10%;
}
.CardDetails{
  width:80px;
  height:3px;
  background-color: white;
  top:38%;
  margin-top: -4%;
  padding-bottom: 3%;
  margin-left: 93%;

}
.CardDetails h3 {
  text-decoration: none;
  margin-left:-3% ;
  cursor: pointer;
}
