.language-popup {
    position: relative;
    display: inline-block;
  }
  
  .navbar-imgL {
    cursor: pointer;
  }
  
  .popup-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: black;
    padding: 10px;
    z-index: 1000;
  }
  
  .popup-menu div {
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .popup-menu div:hover {
    background-color: #f0f0f0;
  }

  .navbar-imgL{
    margin-left: 2%;
    cursor: pointer;
    width:28px;
  }