/* Navbar.css */
*{
  font-family: 'Montserrat';
}
.navbar {
    background-color: white;
    color: black;
  }
  
  .navbar-container {
    display: flex; /* Utilisation de flexbox pour aligner les Ã©lÃ©ments sur la mÃªme ligne */
    justify-content: space-between; /* Espace Ã©gal entre les Ã©lÃ©ments */
  /* Alignement vertical au centre */
    font-weight: 500;
  }
  .navbarHome-menu{
    margin-right: 25%;
    margin-top: 1%;
  }
  .navbarHome-elements{
    background-color: white;
    width: 100%;
    margin-left: 1%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-top: 1px solid black;   /* Bordure supérieure noire de 2 pixels */
    border-bottom: 1px solid black;
    display: flex; /* Utilisation de flexbox pour aligner les Ã©lÃ©ments sur la mÃªme ligne */
    justify-content: flex-end;
    align-items: stretch;
    /* Alignement vertical au centre */
      font-weight: 500;
  
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
  align-items: center;
  }

  .navbar-item {
    padding-right: 50px;
    cursor: pointer;
  }
  
  .navbar-item a{
   color: black;
   text-decoration: none;
   white-space: nowrap;
  }
  
  .navbar-item:last-child {
    margin-right: 0;
  }

  .MenuCat{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    gap:10px;
  }

  .arrowdwn{
    padding-right: 3%;
    width: 20px;
  }
  
  .navbar-img{
    margin-right: 15px;
    cursor: pointer;
  }
 
  .cnx-button {
    background-color:#5B828E ; /* Couleur de fond du bouton */
    color: white;/* Couleur du texte du bouton */
    padding: 4px 16px; 
    border: none; /* Supprimez la bordure par dÃ©faut du bouton */
    border-radius: 4px; /* Ajoutez un peu de bordure arrondie au bouton */
    cursor: pointer; /* Changez le curseur pour indiquer qu'il s'agit d'un Ã©lÃ©ment cliquable */
    font-size: medium;
    font-weight: bold;
  }
  .Class-menu{
background-color: #ECF0F1;
width: 15%;
height: max-content;
position: absolute;
top: 10%;
left:50%;
  }
  .arrowd{
    width: 16px;
  }

  .navbar-ite{
 margin-left: -2%;
 margin-right: 2%;
 margin-top: 1%;
  }

  .rubClass-name {
    margin-left: 4%;
    list-style-image: url('../Assets/chevron.png');
  }
  .rubClass-name a{
    text-decoration: none;
    color: #2C3E50;
    font-weight: 700;
  }

  .nav-btn {
    color: #2C3E50; /* Couleur du texte en blanc */
    border: none; /* Supprimer la bordure */
    border-radius: 5px; /* Ajouter un rayon aux coins */
    padding: 3px 5px; /* Ajouter un espace de rembourrage */
    cursor: pointer; /* Afficher un curseur au survol */
    transition: background-color 0.3s; /* Ajouter une transition pour une animation fluide */
    background-color:#FFFFFF;
  }
  
  
  .nav-btn:hover {
    background-color: #2C3E50; /* Au survol, changer la couleur de fond en blanc */
    color: #FFFFFF; /* Au survol, changer la couleur du texte en bleu foncé */
  }
  .navbar-imgD{
    cursor: pointer;
    width:32px;
  }
 
  .nav-button{
    display: flex;
    flex-direction: column;
    margin-right: 1%;
    margin-left: 2%;
  }

 