/* Navbar.css */

.navbar {
    background-color: #2C3E50;
    color: #fff;
    padding: 7px 0 ;
  }
  
  .navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-menu {
    margin-left: -10%;
    list-style: none;
    display: flex;
  align-items: center;
  }

  .navbar-item {
    padding-right: 50px;
    cursor: pointer;
  }
  
  .navbar-item a{
   color: white;
   text-decoration: none;
   white-space: nowrap;
  }
  
  .navbar-item:last-child {
    margin-right: 0;
  }
  
  .navbar-img{
    margin-right: 15px;
    cursor: pointer;


  }
 
  .cnx-button {
    background-color:#27AE60 ; /* Couleur de fond du bouton */
    color: white;/* Couleur du texte du bouton */
    padding: 4px 16px; 
    border: none; /* Supprimez la bordure par dÃ©faut du bouton */
    border-radius: 4px; /* Ajoutez un peu de bordure arrondie au bouton */
    cursor: pointer; /* Changez le curseur pour indiquer qu'il s'agit d'un Ã©lÃ©ment cliquable */
    font-size: medium;
    font-weight: bold;
  }
  .Class-menu{
background-color: #ECF0F1;
width: 15%;
height: max-content;
position: absolute;
top: 10%;
left:50%;
  }
  .arrowd{
    width: 16px;
  }

  .navbar-ite{
 margin-left: -2%;
 margin-right: 2%;
 margin-top: 1%;
  }

  .rubClass-name {
    margin-left: 4%;
    list-style-image: url('../Assets/chevron.png');
  }
  .rubClass-name a{
    text-decoration: none;
    color: #2C3E50;
    font-weight: 700;
  }

  .nav-btn {
  margin-left: 1%;
  margin-bottom: 1%;
  font-size: x-small;
    color: #2C3E50; /* Couleur du texte en blanc */
    border: none; /* Supprimer la bordure */
    border-radius: 5px; /* Ajouter un rayon aux coins */
    cursor: pointer; /* Afficher un curseur au survol */
    transition: background-color 0.3s; /* Ajouter une transition pour une animation fluide */
    background-color:#FFFFFF;
  }
  
  .nav-btn:hover {
    background-color: #2C3E50; /* Au survol, changer la couleur de fond en blanc */
    color: #FFFFFF; /* Au survol, changer la couleur du texte en bleu foncé */
  }
  .navbar-imgD{
    cursor: pointer;
    width:17px;
  }
 
  .nav-button{
    position: absolute;
    left:97%;
  }

 