.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  
  padding: 0px;
 
  background: url('Assets/background.PNG') center/cover; /* PremiÃ¨re image de fond */

}


.navbar-items {
  display: flex; /* Utilisation de flexbox pour aligner les Ã©lÃ©ments sur la mÃªme ligne */
  justify-content: space-between; /* Espace Ã©gal entre les Ã©lÃ©ments */
  align-items: center; /* Alignement vertical au centre */
  font-weight: 500;
}

.navbar h1 {
  color: black; /* Couleur du texte pour "NumeriqueMaterials" */
}

.navbar ul {
  list-style: none;
  color: black; /* Supprimez les puces de la liste */
  margin: 0; /* Supprimez la marge par dÃ©faut de la liste */
  padding: 0; /* Supprimez le rembourrage par dÃ©faut de la liste */
}

.navbar li {
  color: black;
  display: inline-block; /* Affichez les Ã©lÃ©ments de liste en ligne */
  margin-right: 40px; /* Espacement entre les Ã©lÃ©ments de liste */
}

.navbar a {
  text-decoration: none; /* Supprimez la dÃ©coration du lien (soulignement par dÃ©faut) */
  color: black;/* Couleur du texte pour les liens */
}

.connect-button {
  background-color: #2C3E50; /* Couleur de fond du bouton */
  color: white; /* Couleur du texte du bouton */
  padding: 8px 16px; /* Ajoutez du rembourrage pour rendre le bouton plus grand */
  border: none; /* Supprimez la bordure par dÃ©faut du bouton */
  border-radius: 4px; /* Ajoutez un peu de bordure arrondie au bouton */
  cursor: pointer; /* Changez le curseur pour indiquer qu'il s'agit d'un Ã©lÃ©ment cliquable */
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: #2C3E50; /* Couleur de fond du footer */
  color: white;
  padding: 20px;
}

.footer-section {
  text-align: left;
}
.footer-section1 {
  padding: 30px;
  text-align: left;
}
.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}
.footer-section.centered {
  display: flex;
  padding: 40px;
  align-items: center;
}
.footer-section ul li a {
  text-decoration: none; /* Supprime le soulignement */
  color: white; /* Couleur du texte */
}

ul {
  list-style:  none;
  padding: 0;
  margin: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  z-index: 999; /* Valeur supérieure à celle de la fenêtre modale pour la superposition */
}
.connexion-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid #2C3E50;
  border-radius: 0px;
  color: #2C3E50;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  z-index: 1000;
  width: 300px; /* Ajustez la largeur selon vos préférences */
}

