*{
  font-family: 'Montserrat';
}
.navbarHome {
width: 100%;
height: max-content;
background-color:white;
top:0%;
z-index: 100;

}
.navbarHome-elements{
  background-color: white;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-top: 1px solid black;   /* Bordure supérieure noire de 2 pixels */
  border-bottom: 1px solid black;
  display: flex; /* Utilisation de flexbox pour aligner les Ã©lÃ©ments sur la mÃªme ligne */
  justify-content: flex-end;
  align-items: stretch;
  /* Alignement vertical au centre */
    font-weight: 500;

}

.navbarItemHome{
  margin-top: 10px;
  color: black;
  display: inline-block; /* Affichez les Ã©lÃ©ments de liste en ligne */
  margin-right: 40px; /* Espacement entre les Ã©lÃ©ments de liste */
}

.navbarHome-items {
  display: flex; /* Utilisation de flexbox pour aligner les Ã©lÃ©ments sur la mÃªme ligne */
  justify-content: space-between; /* Espace Ã©gal entre les Ã©lÃ©ments */
/* Alignement vertical au centre */
  font-weight: 500;
}
.navbar-logo {
  margin-top: 2px;
  margin-left: 2%;
}
.navbar-logo li{
 text-decoration: none;
 list-style: none;

}

.navbarHome h1 {
  color:black ; /* Couleur du texte pour "NumeriqueMaterials" */
}



.navbarHome a {
  text-decoration: none; /* Supprimez la dÃ©coration du lien (soulignement par dÃ©faut) */
  color: black;/* Couleur du texte pour les liens */
}

.connect-button {
  background-color: #5B828E; /* Couleur de fond du bouton */
  color: whitesmoke; /* Couleur du texte du bouton */
  padding: 8px 16px; 
  border: none; /* Supprimez la bordure par dÃ©faut du bouton */
  border-radius: 4px; /* Ajoutez un peu de bordure arrondie au bouton */
  cursor: pointer; /* Changez le curseur pour indiquer qu'il s'agit d'un Ã©lÃ©ment cliquable */
  font-weight: bold;
  font-size: medium;
}



.navbar-btn {
    color: #2C3E50; /* Couleur du texte en blanc */
    border: none; /* Supprimer la bordure */
    border-radius: 5px; /* Ajouter un rayon aux coins */
    padding: 3px 5px; /* Ajouter un espace de rembourrage */
    cursor: pointer; /* Afficher un curseur au survol */
    transition: background-color 0.3s; /* Ajouter une transition pour une animation fluide */
    background-color:#FFFFFF;
  }
  
  .navbar-btn:hover {
    background-color: #2C3E50; /* Au survol, changer la couleur de fond en blanc */
    color: #FFFFFF; /* Au survol, changer la couleur du texte en bleu foncé */
  }

  .navbar-button{
    display: flex;
    flex-direction: column;
    margin-right: 1%;
  }